# Example variable values for local development.
# Copy this file to terraform.tfvars and adjust as needed.
# terraform.tfvars is gitignored and must not be committed.

subscription_id     = "85196a81-87db-4711-abbc-01b9a8398af4"
resource_group_name = "rg-checkout-assessment-dev"
location            = "uksouth"
project_name        = "checkout-assessment"
environment         = "dev"

apim_publisher_email = "your-email@example.com"
